textarea {
  resize: none;
  width: 100%;
  height: 78%;
  position: absolute;
}

.screen-overflow {
  overflow: auto;
}

.field-margin {
  margin-top: 10px;
  margin-bottom: 10px;
}

.label-titulo {
  margin-top: 7px;
  font-weight: 100;
}
