<div class="action-bar">
  <div>
    <div>
        <ul class="nav nav-pills">
          <li class="nav-item">
            <a class="nav-link" href="#" id="botao-nova-nota" (click)="newNote()">
              <i class="glyphicon glyphicon-plus"></i>
              Nova
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" id="botao-deletar" (click)="deleteNote()">
              <i class="glyphicon glyphicon-trash"></i>
              Deletar
            </a>
          </li>
          <li class="nav-item save">
            <a class="nav-link active save-button" href="#" (click)="saveNote()" id="botao-salvar">Salvar</a>
          </li>
        </ul>
    </div>
  </div>
</div>
